@import '../../../assets/styles/_variables.scss';

.select {
	color: $cAsphalt;
	border: none;
	border-radius: 10px;
	background: transparent;
	padding: 3px;
	box-shadow: 0 0 10px 2px rgba($cBlack, 0.05);
	cursor: pointer;

	&:focus,
	&:active {
		outline: none;
	}
}
