//* Colors
$cWhite: #fff;
$cBlack: #000;
$cCloud: #ecf0f1;
$cRiver: #3498db;
$cSilver: #bdc3c7;
$cSilverLight: #d4d9dc;
$cBrightGray: #e9edf0;
$cAsphalt: #34495e;
$cAlizarin: #e74c3c;
$cSunFlower: #f1c40f;
